@use '../abstracts/variables' as var;

/* BASE */
* {
  box-sizing: border-box;
}

body {
  font-family: font-main, sans-serif;
  margin: 0;
  color: var.$color-white;
  background-color: var.$color-main;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  color: var.$color-accent;
  font-family: font-bold, sans-serif;
  font-size: 3rem;
}

h2 {
  margin: 0;
  color: var.$color-accent;
  font-family: font-bold, sans-serif;
  font-size: 2rem;
}
