@use '../abstracts/variables' as var;

/* FONTS */
@font-face {
  font-family: 'font-main';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'font-bold';
  src: url(../fonts/Roboto-Bold.ttf);
}
