@use '../base/fonts';

$color-main: #0f1217;
$color-accent: #b33113;
$color-white: #fff;
$color-black: #0a0b0d;
$color-btn-promo: rgba(233, 233, 233, 0.329);

$font-main: 'Roboto-Regular', sans-serif;
$font-bold: 'Roboto-Bold', sans-serif;
