@use '../abstracts/variables' as var;

/* LATEST */
#latest {
  .latest__container {
    .latest__title {
      text-align: center;
      margin-bottom: 3em;
    }

    .latest__card--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .latest__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-size: cover;
        width: 25%;
        height: 70vh;
        padding: 1rem;

        img {
          height: 30vh;
          width: auto;
        }

        h4 {
            text-align: center;
            font-size: 1.5rem;
            font-family: font-bold, sans-serif;
        }
      }

      .latest__card:nth-child(1) {
        background-image: url(../img/bfheuakyrubvwr448i.webp);
      }
      .latest__card:nth-child(2) {
        background-image: url(../img/Bniwbiedb2.webp);
      }
      .latest__card:nth-child(3) {
        background-image: url(../img/BbvlL835T_CMM_420x700.webp);
      }
      .latest__card:nth-child(4) {
        background-image: url(../img/Cwtyiugh346-420x700.webp);
      }
    }
  }
}
