@use '../abstracts/variables' as var;

/* NEWS */
#news {
  margin-bottom: 7em;

  .news__container {
    text-align: center;
    > p {
      margin: 2em;
    }

    .news__cards-container {
      text-align: justify;
    }
  }
}
